/**
 * General styles
 * ----------------------------------
*/

html, body {
	font-family: 'Open Sans', sans-serif !important;
	margin: 0px !important;
	padding: 0px !important;	
}

a, a:visited {
	color: #4BF;
	text-decoration: none !important;
}

a:hover, a:active {
	color: #C36;
}

img {
    border: 0px;
}

div.center {
	text-align: center;
}

/**
 * Body header
 * ----------------------------------
*/

header#main {
	background: rgba(255, 255, 255, 0.15);
	border-top: 5px solid #181818;
	height: 130px;
	padding: 0px 10% 0px 10%;
	position: relative;
	width: 80%;
}

header#main h1 {
	display: none;
}

header#main a.logo {
	-moz-transition: none;
	-ms-transition: none;
    -o-transition: none;
	-webkit-transition: none;
    transition: none;
	
	background: url(sprites/logo.png) no-repeat 0px 29px;
	display: inline-block;
	height: 63px;
	padding: 33px 0px 32px 0px;
	width: 128px;
}

header#main a.logo.black {
	background-position: 0px -200px;
}

header#main a.logo.white {
	background-position: 0px -314px;
}

header#main a.logo:hover, header#main a.logo.black:hover, header#main a.logo.white:hover {
	background-position: 0px -85px;
}

header#main nav {
	height: 130px;
    position: absolute;
    right: 10%;
    top: 0px;
}

header#main nav h2 {
    display: none;
}

header#main nav ul {
	height: 130px;
	list-style: none;
	margin: 0px;
}

header#main nav ul li {
	display: inline-block;
	height: 130px;
	padding-left: 30px;
}

header#main nav ul li a {
    -moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	
	color: #CCCCCC;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 55px 0px 55px 0px;
	text-decoration: none;
	text-transform: uppercase;
}

header#main nav ul li a:hover {
	color: #232323;
}

header#main nav ul li a.active, header#main nav ul li.current_page_item a {
	color: #232323;
}

@media screen and (max-width: 980px) {
    header#main {
        height: auto;
        text-align: center;
    }
    
    header#main img {
        padding: 10px 0px 10px 0px;
    }
    
    header#main nav {
        height: 50px;
        position: relative;
        right: auto;
        width: 100%;
    }
    
    header#main nav ul {
        height: 50px;
        padding: 5px 15px 0px 15px;
    }
    
    header#main nav ul li {
        height: 50px;
		padding: 0px 10px 0px 10px;
    }
    
    header#main nav ul li a {
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
        
        padding: 5px;
    }
    
    header#main nav ul li a:hover {
        background: #F5F5F5;
        border: 1px solid #DDDDDD;
        padding: 4px;
    }
    
    header#main nav ul li.current_page_item a {
        background: #232323;
        border: none;
        color: #FFFFFF;
        padding: 5px;
    }
}

@media screen and (max-width: 650px) {
    header#main {
		height: 200px;
		max-height: 200px;
		min-height: 200px;
        padding: 0px 5% 0px 5%;
		width: 90%;
    }
    
    header#main nav {
        height: auto;
        padding-bottom: 35px;
    }
    
    header#main nav ul {
		border: 1px solid #000000;
        height: auto;
		padding: 0px;
		width: 100%;
    }
    
    header#main nav ul li {
        display: none;
		height: 40px;
        padding: 0px;
    }
	
	header#main nav ul.open {
		position: absolute; 
	}
	
	header#main nav ul.open li {
		border-top: 1px solid #DDDDDD;
        display: list-item;
        padding: 0px;
    }
	
	header#main nav ul li.current_page_item {
		border: none;
		display: list-item;
	}
    
    header#main nav ul li a {
        background: #F5F5F5;
		height: 20px;
        padding: 10px 0px 10px 0px;
        width: 100%;
    }
    
    header#main nav ul li a:hover {
		border: none;
        padding: 10px 0px 10px 0px;
    }
    
    header#main nav ul li.current_page_item a {
		background: #232323 url(sprites/template-icons.png) no-repeat right -280px;
        padding: 10px 0px 10px 0px;
    }
	
	header#main nav ul.open li.current_page_item a {
		background-image: none;
	}
}

/**
 * Support tab
 * ----------------------------------
*/

header#main div.support {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	
	background: url(sprites/template-icons.png) #333333 no-repeat -28px -33px;
	border-bottom: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
	border-top: 2px solid #FFFFFF;
	height: 100px;
	position: fixed;
	right: 0px;
	top: 40%;
	width: 40px;
	z-index: 25;
}

header#main div.support:hover {
	background-color: #666666;
}

header#main div.support.left {
	background-position: -83px -33px;
	border-left: none;
	border-right: 2px solid #FFFFFF;
	left: 0px;
	right: auto;
}

header#main div.support a {
	display: block;
	height: 100%;
	width: 100%;
}

header#main div.support h2 {
	display: none;
}

@media screen and (max-width: 650px) {
	header#main div.support {
		display: none;
	}
}

/**
 * Content area styles
 * ----------------------------------
*/

article.content, section.content {
	background: #FFFFFF;
	border-top: 1px solid #DDDDDD;
	padding: 65px 10% 65px 10%;
}

article.content.even, section.content.even {
	background: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
}

article.content > h1, section.content > h1, article.content > h2, section.content > h2, article.content header h1, section.content header h1, article.content header h2, section.content header h2 {
	color: #303030;
	font-size: 24px !important;
	font-weight: lighter;
	line-height: normal !important;
	margin: 20px 0px 20px 0px;
    padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
}

article.content > h1::after, section.content > h1::after, article.content > h2::after, section.content > h2::after, article.content header h1::after, section.content header h1::after, article.content header h2::after, section.content header h2::after {
	border-top: 2px solid #303030;
	content: ' ';
	display: block;
	margin: 7px auto 0px auto;
	padding: 0px;
	text-align: center;
	width: 300px;
}

article.content p, section.content p {
	color: #777777;
	font-size: 15px;
	margin: 10px 0px 10px 0px;
}

article.content > h3, section.content > h3 {
	padding-top: 40px;
}

article.content.center p, section.content.center p {
	margin: 15px auto 15px auto;
	max-width: 850px;
	text-align: center;
}

@media screen and (max-width: 650px) {
    article.content, section.content {
        padding: 15px 10% 15px 10%;
    }
    
    article.content > h1::after, section.content > h1::after, article.content > h2::after, section.content > h2::after, article.content header h1::after, section.content header h1::after, article.content header h2::after, section.content header h2::after {
		content: none;
    }
}
    
/**
 * Page footer
 * ----------------------------------
*/

footer#bottom {
	background: #181818;
	color: #888888;
	padding: 35px 10% 35px 10%;
    text-align: center;
	width: 80%;
}

footer#bottom nav ul.navigation {
	display: table;
	list-style: none;
	margin: 0px;
	padding: 40px 0px 60px 0px;
	width: 100%;
}

footer#bottom nav ul.navigation li {
	display: table-cell;
	vertical-align: top;
}

footer#bottom nav ul.navigation li ul.links {
	padding: 0px;
    text-align: left;
}

footer#bottom nav ul.navigation li ul.links li {
	display: list-item;
	font-size: 14px;
	list-style: none;
	padding-bottom: 5px;
}

footer#bottom nav ul.navigation li ul.links li:first-child {
	padding-bottom: 20px;
}

footer#bottom nav ul.navigation li ul.links li a {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	
	color: #888888;
    display: block;
}

footer#bottom nav ul.navigation li ul.links li a:hover {
	color: #FFFFFF;
}

footer#bottom nav ul.navigation li ul.links li:first-child a {
	color: #FFFFFF;
	font-weight: 600;
	text-transform: uppercase;
}

footer#bottom nav ul.navigation li ul.promotion {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

footer#bottom nav ul.navigation li ul.promotion li {
	display: list-item;
	padding-bottom: 30px;
}

footer#bottom nav ul.navigation li ul.promotion li:last-child {
	padding-bottom: 0px;
}

footer#bottom nav ul.navigation li ul.promotion li a.page {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	
	background: url(sprites/template-icons.png) #303030 no-repeat;
	border: 1px solid #DDDDDD;
	display: inline-block;
	height: 69px;
	width: 64px;
}

footer#bottom nav ul.navigation li ul.promotion li a.page.facebook {
	background-position: -2px -130px;
}

footer#bottom nav ul.navigation li ul.promotion li a.page.twitter {
	background-position: -83px -130px;
}

footer#bottom nav ul.navigation li ul.promotion li a.page.facebook:hover {
	background-color: #3B5998;
}

footer#bottom nav ul.navigation li ul.promotion li a.page.twitter:hover {
	background-color: #46C8F5;
}

footer#bottom nav ul.navigation li ul.promotion li a.email {
	display: block;
	margin: 0px auto 0px auto;
	padding-top: 5px;
	width: 100px;
}

footer#bottom nav ul.navigation li ul.promotion li a.link {
	background: url(sprites/template-icons.png) no-repeat;
	display: inline-block;
	height: 70px;
	width: 50px;
}

footer#bottom nav ul.navigation li ul.promotion li a.link.HTML5 {
	background-position: 0px -201px;	
}

footer#bottom nav ul.navigation li ul.promotion li a.link.CSS3 {
	background-position: -50px -201px;	
}

footer#bottom nav ul.navigation li ul.promotion li a.link.ForwardFour {
	background-position: -100px -201px;	
}

footer#bottom ul.mega-footer {
	font-size: 12px;
	list-style: none;
	margin: 0px;
    padding: 0px;
	text-align: center;
	text-transform: uppercase;
}

footer#bottom ul.mega-footer li {
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle;
}

footer#bottom ul.mega-footer li:first-child {
	padding-left: 0px;
}

footer#bottom ul.mega-footer li.logo {
	background: url(sprites/template-icons.png) no-repeat -31px 2px;
	display: inline-block;
	height: 36px;
	width: 68px;
}

@media screen and (max-width: 980px) {
    footer#bottom nav ul.navigation > li:last-child {
        display: none;
    }
    
    footer#bottom nav ul.navigation li ul.links {
        text-align: center;
    }
    
    footer#bottom nav ul.navigation li ul.promotion li a.page {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    footer#bottom {
        padding: 10px 10% 10px 10%;
    }
    
    footer#bottom nav ul.navigation {
        display: none;
    }
	
	footer#bottom ul.mega-footer li {
        padding: 0px;
    }
	
    footer#bottom ul.mega-footer li:first-child, footer#bottom ul.mega-footer li:last-child {
        display: none;
    }
	
	footer#bottom ul.mega-footer li.logo {
		background-position: -41px 2px;
	}
}